body{
    background:grey ;
}
#frm{
 border:solid gray 1px ;
    width:50ex;
    border-radius: 5px;
    margin:100px ;
    background:seagreen;
    margin: auto;
    padding: 40px;
}
#btn{
  color:#fff ;
    background:#337ab7 ;
    padding: 5px;
    margin-left: 190px;
}